*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    background-color: rgba(240, 234, 203, 0.979);
    /* height: 100px; */
    grid-template-columns: 2fr 6fr 5fr;
    grid-template-rows: 2.2fr 7fr;
    grid-template-areas:
    "aside1 header header"
    "aside1 section1 section2"
    /* "aside1 section1 section2" */
    ;
    height: 128vh;
    gap: 10px;
    font-family: "Inter";
}
header{
    grid-area: header;
    /* background-color: rgba(243, 232, 170, 0.87) */
}
.aside1{
    grid-area:aside1;
    background-color: black;
    padding-left: 10px;
    gap:25px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.section1{
    grid-area: section1;
    /* background-color: rgb(107, 107, 233); */

}
.section2{
    grid-area: section2;
    /* background-color: #ff6076; */

}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 320px;
    /* padding-left: 20px; */
}
.aside1>h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-top: 20px;
    }


a {
    text-decoration: none;
    color: grey;
    padding: 0px;
}
.aside-item{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-left:0px;
}

.aside-container .aside-item a,
.aside-container .minimize-menu a {
    /* display: block; */
    padding: 10px 15px;
    color: grey;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: 10px; */
}


.aside-container .aside-item a:hover,
.aside-container .minimize-menu a:hover {
    background-color: white;
    color: black;
    transform: translateX(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: solid green;
}


.aside-container .aside-item a i,
.aside-container .minimize-menu a i {
    /* margin-right: 15px; */
}


.minimize-menu{
    display: flex;
flex-direction: column;
padding-top: 130px;
color: grey;
}
.mx{
    margin-right: 10px;
}
.mx2{
    margin-right:25px;
}
.mx5{
    margin-right: 5px;
}
header>h2{
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.container1 {
    text-align: left;
    color:white;
    cursor: pointer;
    margin-top: 3px;
    padding: 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: black; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container1 h4 {
    font-size: 16px; 
    color: white; 
    margin-bottom: 10px;
}

.container1 h1 {
    font-size: 36px;
    color: white; 
    margin: 0;
}


.container2 {
    text-align: left;
    color:black;
    cursor: pointer;
    margin-top: 3px;
    padding: 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container2 h4 {
    font-size: 16px; 
    color: #333; 
    margin-bottom: 10px;
}

.container2 h1 {
    font-size: 36px;
    color: black; 
    margin: 0;
}


.container3 {
    text-align: left;
    color:black;
    cursor: pointer;
    margin-top: 3px;
    padding: 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container3 h4 {
    font-size: 16px; 
    color: #333; 
    margin-bottom: 10px;
}

.container3 h1 {
    font-size: 36px;
    color: black; 
    margin: 0;
}
.pot-container {
    padding: 20px;
    background-color: #FAF9F6;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.pot-container h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.pot-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-radius: 12px;
}

.total-saved {
    display: flex;
    align-items: center;
    background-color: rgba(240, 234, 203, 0.979);;
    padding: 15px;
    border-radius: 12px;
    width: 43%;
}

.pot-icon {
    margin-right: 10px;
}

.total-saved-amount h4 {
    margin: 0;
    color: #6c757d;
}

.total-saved-amount h1 {
    margin: 5px 0 0 0;
    font-size: 2em;
    color: #333;
}

.savings-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.savings-item, .budget-item {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap:7px;
    /* align-items: center; */
}

.savings-item .label {
    font-size: 1em;
    color: #6c757d;
}

.savings-item .amount {
    font-size: 1.2em;
    color: #333;
    margin-right: 80px;
}

.savings-item:nth-child(1)  { 
    border-left: 4px solid #007BFF;
    padding-left: 8px;
}

.savings-item:nth-child(2)  {
    border-left: 4px solid #00B4D8;
    padding-left: 8px;
}

.savings-item:nth-child(3)  {
    border-left: 4px solid #6C757D;
    padding-left: 8px;
}

.savings-item:nth-child(4)  {
    border-left: 4px solid #F8961E;
    padding-left: 8px;
}

.budget-item:nth-child(1)  { 
    border-left: 4px solid #007BFF;
    padding-left: 8px;
}

.budget-item:nth-child(2)  {
    border-left: 4px solid #00B4D8;
    padding-left: 8px;
}

.budget-item:nth-child(3)  {
    border-left: 4px solid #6C757D;
    padding-left: 8px;
}

.budget-item:nth-child(4)  {
    border-left: 4px solid #F8961E;
    padding-left: 8px;
}



.see-details {
    margin-left: 20px;
}

/* .see-details a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
} */
.pot-header, .transaction-header, .recurring-bills-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.person{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.transaction-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #FAF9F6;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.transaction-header h3 {
    font-size: 1.5em;
    color: #333;
}

.see-details a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

.transaction-summary {
    display: flex;
    flex-direction: column;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.transaction-item:last-child {
    border-bottom: none;
}

.person {
    display: flex;
    align-items: center;
    
}

.person .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.transaction-amount h4 {
    margin: 0;
    font-size: 1.2em;
}

.transaction-amount h5 {
    margin: 5px 0 0 0;
    color: #6c757d;
}

.positive {
    color: #2D6A4F;
}

.negative {
    color: #D90429;
}

.budget-container {
    padding: 20px;
    background-color: #FAF9F6;
    border-radius: 12px;
    max-width: 450px;
    margin: auto;
    font-family: Arial, sans-serif;
}
.budget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.budget-header h3 {
    font-size: 1.5em;
    color: #333;
}


.chart-container {
    display: flex;
    align-items: center;
    gap:20px;
    /* justify-content: space-between; */
    width: 450px;
    margin: 0 auto;
}

.budget-chart {
    position: relative;
    width: 200px;
    height: 200px;
}

.chart-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px
}

/* .chart-legend div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} */

.legend-color-box {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.legend-text {
    font-size: 14px;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    /* margin-left: auto; */
}

.budget-item .label {
    font-size: 1em;
    color: #6c757d;
}
.budget-item .amount {
    font-size: 16px;
    font-weight: bold;
    margin-right: 90px;
}

.recurring-bills-container {
    max-width: 600px;
    margin: 20px;
    background-color: #FAF9F6;
    border-radius: 12px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.recurring-bills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.recurring-bills-details{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.recurring-bills-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px;
    align-items: center;
    background-color:  rgba(240, 234, 203, 0.979);
    border-radius: 5px;
    height: 50px;
    border-left: 5px solid green;
}
.recurring-bills-item .label {
    font-size: 1em;
    color: #6c757d;
}

